
    body{
        background-image: linear-gradient(#ccc 1px, transparent 1px);
        background-size: 100% 40px;
        background-color: lightyellow;
        margin-left: 15%;
            border-left: 2px solid red;
            height: 900px;
          
        
      }


header {
   text-align: center;
   font-size: 25px;
   font-weight: 900;
   color: blue;
   margin-bottom: 10%;
   background-color: lightyellow;
}

h3 {
    margin-bottom: 5%;
    color: blue;
    margin-left: 10%;
}

form {
    color: blue;
    font-weight: 700;
    margin-left: 15%;
}
input {
    margin-bottom:3%;
}

#signupsubmit {
    margin-left: 2%;
    cursor: pointer;
}

#loginlink {
    font-size: 130%;
    color: blue;
    font-weight: 700;
    margin-left: 8%;
    margin-top: 50%;
}